<h1>Products</h1>



<%= link_to 'Add a Product', new_product_path %>



<% @products.each do |product| %>
  <h2><%= link_to product.name, product_path(product) %> $<%= product.formatted_price %></h2>
  <p><%= product.description %></p>
<% end %>
